/* ------------- SCROLL PANE ---------------*/
.scroll-pane .scroll-bar .track-background {
    -fx-background-color: #f5f5ff;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #dbe4ff;
    -fx-cursor: hand;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #bac8ff;
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #bac8ff;
}

.scroll-pane:fitToWidth:fitToHeight .scroll-bar:vertical .decrement-button .decrement-arrow {
    -fx-background-color: #bac8ff;
}

.scroll-pane:fitToWidth:fitToHeight .scroll-bar:vertical .increment-button .increment-arrow {
    -fx-background-color: #bac8ff;
}

.commands-grid {
    -fx-background-color: #f5f5ff;
}

/*------------------ BUTTON ------------------*/
.button {
    -fx-padding: 5px 10px; /* padding */
    -fx-font-size: 12px; /* font size */
    -fx-font-weight: Bold;
    -fx-text-fill: #91a7ff; /* text color */
    -fx-background-color: #f5f5ff; /* background color */
    -fx-border-color: #91a7ff; /* blue border color */
    -fx-border-width: 3px; /* border thickness */
    -fx-cursor: hand; /* cursor style */
    -fx-border-radius: 20%; /* rounded border */
    -fx-background-radius: 50px;
}
.button:hover {
    -fx-background-color: #91a7ff; /* Change background color on hover */
    -fx-text-fill: white;
    -fx-font-weight: Bold;/* text color change on hover, set to black by default */
    -fx-border-color: #91a7ff; /* blue border color */
}

.button:pressed {
    -fx-background-color: #748ffc; /* Change background color on hover */
    -fx-text-fill: white;
    -fx-font-weight: Bold;/* text color change on hover, set to black by default */
    -fx-border-color: #748ffc; /* blue border color */
}

/* ------------- TEXT FIELD ---------------*/
.text-field {
    -fx-background-color: white;
    -fx-border-width: 0px;
    -fx-border-color: #91a7ff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.separator:vertical .line {
    -fx-margin: 10px 5px 10px 5px;
}

.label .text {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.error-label .text {
    -fx-font-family: system;
    -fx-font-size: 10;
    -fx-font-weight: normal;
    -fx-fill: red;
}

.header .text{
    -fx-font-size: 14;
}

.choice-box,
.menu-button:openvertically{
    -fx-background-color: #f5f5ff;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 20%;
    -fx-cursor: hand;
}

.choice-box .label, .menu-button:openvertically .label{
    -fx-text-fill: #91a7ff;
}

.choice-box .open-button .arrow,
.menu-button:openvertically .arrow-button .arrow {
    -fx-background-color: #91a7ff;
}
