/* ------------- BUTTON ---------------*/
.button {
    -fx-font-size: 12px;
    -fx-font-weight: Bold;
    -fx-text-fill: #a6c7ff;
    -fx-background-color: #333333;
    -fx-border-color: #a6c7ff;
    -fx-border-width: 3px;
    -fx-cursor: hand;
    -fx-border-radius: 20%;
    -fx-background-radius: 50px;
}

.button:hover {
    -fx-background-color: #1f77ff;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #0050b3;
    -fx-text-fill: white;
}

/* ------------- TEXT FIELD ---------------*/
.text-field {
    -fx-background-color: #333333;
    -fx-border-width: 0px;
    -fx-border-color: #a6c7ff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

/* ------------- SCROLL PANE ---------------*/
.scroll-pane .scroll-bar .track-background {
    -fx-background-color: #2c2c2c;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #555555;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #777777;
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #888888;
}

.ranges-grid {
    -fx-background-color: #2c2c2c;
}

/*------------------------ LIST VIEW ----------------*/
.list-view:vertical {
    -fx-background-color: #2c2c2c;
    -fx-border-width: 2px;
    -fx-border-color: #444444;
}