.label {
    -fx-font-size: 12px; /* font size */
    -fx-font-weight: Bold;
    -fx-text-fill: black; /* text color */
    -fx-background-color: white; /* background color */
    -fx-border-color: #797979; /* blue border color */
    -fx-border-width: 1px; /* border thickness */
    -fx-cursor: hand; /* cursor style */
}
.label:hover {
    -fx-border-color: #4c6ef5;
    -fx-border-width: 2px;
}

.sheet-grid-pane {
    -fx-margin: 5px;
    -fx-background-color: #f5f5ff;
}

.old-version:hover {
    -fx-border-color: #797979;
    -fx-border-width: 1px; /* border thickness */
    -fx-cursor: normal;
}

.selected-cell {
    -fx-border-color: #214fff; /* blue border color */
    -fx-border-width: 3px;
}

.depending-cell {
    -fx-border-color: #66d9e8;
    -fx-border-width: 3px;
}

.influencing-cell {
    -fx-border-color: #94d82d;
    -fx-border-width: 3px;
}

.selected-range{
    -fx-border-color: #ffd43b;
    -fx-border-width: 3px;
}